@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('/Fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
      url('/Fonts/CircularSpotifyTxT-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --Header-Font: 'Circular Spotify Tx T';
}
.dark {
  /*2FBF71*/
  --Background-Color: #151515; /*#FFFFFF*/
  --Text-Color: #ffffff; /*#141414*/
  --Shadow-Color: #2F2F2F;
}
.light {
  --Background-Color: #ffffff; /*#FFFFFF*/
  --Text-Color: #151515; /*#141414*/
  --Shadow-Color: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Background-Color);
}

nav {
  display: flex;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Memoji Label";
}
.Memoji {
  grid-area: Memoji;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Memoji img {
  
  height: auto;
  width: 25vw;
}

.Label {
  grid-area: Label;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.Label h1 {
  font-family: var(--Header-Font);
  font-size: 10vw;
  color: var(--Text-Color);
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Memoji" "Label";
  }
}