@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
:root {
  --BlueAccentColor: #665df5;
}
/* 
font-family: 'Open Sans', sans-serif;*/
body,
html {
  height: 100%;
  width: auto;
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  /*   background-image: url("https://cdn.glitch.com/b71febf5-ec80-4039-979b-ae2a02b10b1c%2FIMG_6463.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: var(--BlueAccentColor);
  font-size: 4vw;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 4vw;
}

h1.titlecard {
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-size: 8vw;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: var(--BlueAccentColor);
}

h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: var(--BlueAccentColor);
}
p {
  margin: 2vw;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 22px;
}

.AppName {
  color: var(--BlueAccentColor);
}

.button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  background-color: white;
  color: var(--BlueAccentColor);
}
/* Add a black background color to the top navigation */
.topnav {
  font-family: "Open Sans", sans-serif;
  background-color: var(--BlueAccentColor);
  color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: var(--BlueAccentColor);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--BlueAccentColor);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
/*   background-color: black; */
  min-height: 100%;
  margin-bottom: 4vw;
}

.titlecard {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -48%);
  margin: auto;
  width: 90%;
}
.largeherotext {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 8vw;
  font-weight: 800;
  text-transform: uppercase;
}
.medherotext {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--BlueAccentColor);
}
.herobutton {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--BlueAccentColor);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
}
.herobutton:hover {
  background-color: var(--BlueAccentColor);
  color: white;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 4vw;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mySlides {
  display: none;
}
footer {
  margin-top: 2%;
  display: block;
  bottom: 0;
  width: 100%;
  background-color: var(--BlueAccentColor);
}

.projecticons:before {
  font-size: 4vw;
}
.projecticons:after {
  font-size: 4vw;
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  p {
    font-size: 4vw;
  }
  h1 {
    font-size: 8vw;
  }
  .largeherotext {
    font-size: 12vw;
  }
  .medherotext {
    font-size: 6vw;
  }
  .herobutton {
    font-size: 4vw;
  }
  .column {
    width: 100%;
  }
  .button {
    font-size: 4vw;
  }
  .projecticons:before {
    font-size: 12vw;
  }
  .projecticons:after {
    font-size: 12vw;
  }
  .slideshow {
    display: none;
  }
}
