<!DOCTYPE html>
<html lang="en">

<head>
   <title>Covid Tracker</title>
   <link rel="shortcut icon" href="/icons/covidtrackerlogo.svg" />
   <link rel="stylesheet" type="text/css" href="/css/covidtracker.css" title="style">
   <meta name="viewport" content="width=device-width, hight=device-hight, initial-scale=1">
   <script src="/scripts/topnav.js"></script>
   <!--   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
   <script src="https://kit.fontawesome.com/ad6de62683.js" crossorigin="anonymous"></script>
</head>
<!-- Header with full-height image -->
<header class="bgimg-1" id="home">
   <div class="titlecard">
      <h1 class="largeherotext">Covid-19 Tracker</h1>
      <h2 class="medherotext">Powered by Covid19API</h2>
      <a href="#about" class="herobutton">Learn More</a>
   </div>
</header>
<!-- About Section -->
<center id="about">
   <h1>ABOUT THE PROJECT</h1>
</center>
<div class="row">
   <div class="column">
      <a href="https://github.com/liammurray123/covid-tracker" class="fa fa-github fa-3x projecticons"
         style="text-decoration: none; color: var(--BlueAccentColor);"></a>
      <h3>Open Source</h3>
      <p>
         The entire project is public on GitHub, so you can contribute ideas,
         tools, and code to the project
      </p>
   </div>
   <div class="column">
      <i class="fa fa-code fa-3x projecticons" style="color: var(--BlueAccentColor);"></i>
      <h3>Flutter</h3>
      <p>
         Covid Tracker was built using Google's Flutter Framework, using the
         power of Dart. Flutter allows Covid Tracker to be a fast,
         lightweight mobile application, with a complex UI and cross platform
         compatibility.
      </p>
   </div>
   <div class="column">
      <i class="fas fa-user-shield fa-3x projecticons" style="color: var(--BlueAccentColor);"></i>
      <h3>Reliable</h3>
      <p>Covid Tracker uses Covid19Api, which provides data sourced from John Hopkins CSES.</p>
   </div>
</div>
<!--    Promo Images -->
<div style="background-color: var(--BlueAccentColor);" class="row" id="promo">
   <img style="width: 70%; float: right;"
      src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FMockup.png">
</div>
<!-- Meet The Team   -->


<center id="team">
   <h1>MEET THE TEAM</h1>
</center>
<!--   Liam Row -->
<div class="row">
   <div class="halfcolumn">
      <h2>
         Liam Murray
      </h2>
      <p>
         Liam is an Web, and Flutter developer, a highschool student, and an open source contributer. You can find his
         work on liam-murray.glitch.me
      </p>
      <a href="/" class="blueherobutton">liam-murray.glitch.me</a>
   </div>
   <div class="halfcolumn rightside">
      <img style="border-radius: 50%; width: 20vw;"
         src="https://avatars1.githubusercontent.com/u/34844329?s=460&u=fc135b8b7b41bf245b41c45e3eaf59a46a75f241&v=4">
   </div>
</div>
<!-- simantOo Row     -->
<div class="row">
   <div class="halfcolumn">

      <!--     <img style="border-radius: 50%; width: 20vw;" src="https://avatars1.githubusercontent.com/u/34844329?s=460&u=fc135b8b7b41bf245b41c45e3eaf59a46a75f241&v=4"> -->
   </div>
   <div class="halfcolumn rightside">
      <h2>
         simantOo
      </h2>
      <p>
         I'm a UI/UX designer, a problem solver who always loves challenges and enjoys working on precise & detailed
         projects.

         If you want effective designs for your project or just want some advice, let's get in touch.
      </p>
      <a href="https://dribbble.com/simantoo" class="blueherobutton">simantOo dribbble</a>
   </div>
</div>

<!-- Footer -->
<footer>
   <div class="row">
      <div class="column">
         <p>
            <a class="button" href="/"><i class="fa fa-link"></i>&nbsp;liammurray.tk</a>
         </p>
      </div>
      <div class="column">
         <p>
            <a class="button" href="https://www.github.com/liammurray123"><i
                  class="fa fa-github"></i>&nbsp;liammurray123</a>
         </p>
      </div>
      <div class="column">
         <p>
            <a href="#home" class="button">&nbsp;GO TO TOP</a>
         </p>
      </div>
   </div>
</footer>

</html>