<!DOCTYPE html>
<html lang="en">

<head>
    <title>Liam Murray SDSS</title>
    <meta name="description"
        content="Official webpage for Liam Murray. Programmer and editor for the SDSS Devil's Advocate Newspaper" />
    <link rel="shortcut icon"
        href="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2Funtitled.png?v=1598892862875" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" title="style" />
    <link rel="stylesheet" type="text/css" href="/css/mobilestyle.css" title="style" />
    <meta name="viewport" content="width=device-width, hight=device-height, initial-scale=1" />
    <script src="/scripts/topnav.js"></script>

    <!--   icon kit -->
    <script src="https://kit.fontawesome.com/ad6de62683.js" crossorigin="anonymous"></script>
</head>
<neck>
    <div class="topnav" id="myTopnav">
        <a href="/home">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a id="colorModeButton"><i id="colorModeIcon" class="fa fa-adjust"></i></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</neck>

<body class="light" id="projects-page">
    <section class="project-cards">
        <column>
            <card>
                <div class="Header">
                    <div class="Date">Continuous</div>
                    <div class="Name">
                        <h2>Github Repo</h2>
                    </div>
                    <div class="Description">Most of my code is available on my Github Repos</div>
                </div>
                <div class="Icons"><i class="fab fa-github"></i><i class="fab fa-git"></i><i
                        class="fab fa-markdown"></i></div>
            </card>
        </column>
        <column>
            <card>
                <div class="Header">
                    <div class="Date">Since 2015</div>
                    <div class="Name">
                        <h2>liammurray.tk</h2>
                    </div>
                    <div class="Description">My personal webpage for portfolio and other assorted things</div>
                </div>
                <div class="Icons"><i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js"></i></div>
            </card>
        </column>
        <column>
            <card>
                <div class="Header">
                    <div class="Date">Summer 2020</div>
                    <div class="Name">
                        <h2>Murray Innovations</h2>
                    </div>
                    <div class="Description">A from scratch design and build for an Engineering Firm</div>
                </div>
                <div class="Icons"><i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js"></i></div>
                </div>
            </card>
        </column>







    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js"></script>
    <script src="/scripts/animation.js"></script>
</body>

</html>