<!DOCTYPE html>
<html lang="en">

<head>
   <title>Workout Junkie</title>
   <link rel="shortcut icon" href="/icons/workoutjunkielogo.svg" />
   <link rel="stylesheet" type="text/css" href="/css/workoutjunkie.css" title="style">
   <meta name="viewport" content="width=device-width, hight=device-hight, initial-scale=1">
   <script src="/scripts/topnav.js"></script>
   <!--   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Header with full-height image -->
<header class="bgimg-1" id="home">
   <div class="titlecard">
      <h1 class="largeherotext">Workout Junkie</h1>
      <br />
      <h2 class="medherotext">A fun, open source, workout app.</h2>
      <!--     <p><a href="#about" class="herobutton">Learn more and start today</a></p> -->
   </div>
</header>
<!-- About Section -->
<center>
   <h1>ABOUT THE PROJECT</h1>
</center>
<div class="row">
   <div class="column">
      <a href="https://github.com/liammurray123/workout_junkie" class="fa fa-github projecticons"
         style="text-decoration: none; color: var(--BlueAccentColor);"></a>
      <h3>Open Source</h3>
      <p>
         The entire project is public on GitHub, so you can contribute ideas,
         tools, and code to the project
      </p>
   </div>
   <div class="column">
      <i class="fa fa-code projecticons" style="color: var(--BlueAccentColor);"></i>
      <h3>Flutter</h3>
      <p>
         Workout Junkie was built using Google's Flutter Framework, using the
         power of Dart. Flutter allows Workout Junkie to be a fast,
         lightweight mobile application, with a complex UI and cross platform
         compatibility.
      </p>
   </div>
   <div class="column">
      <i class="fa fa-money projecticons" style="color: var(--BlueAccentColor);"></i>
      <h3>Free</h3>
      <p>Workout Junkie will be released on the Google Play Store, for free!</p>
   </div>
</div>
<!-- Demo Images Slideshow-->
<div class="slideshow">
   <div class="row">
      <div class="column">
         <button style="background-color: var(--BlueAccentColor); color: black;" class="button"
            onclick="plusDivs(-1)">&#10094;</button>
      </div>
      <div class="column">
         <center>
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_1%5B2%5D.jpg?v=1595443369795"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_2%5B1%5D.jpg?v=1595443381901"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_3%5B1%5D.jpg?v=1595443400520"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_5%5B1%5D.jpg?v=1595443428166"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_4%5B1%5D.jpg?v=1595443413234"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_6%5B1%5D.jpg?v=1595443436158"
               style="width:50%">
            <img class="mySlides"
               src="https://cdn.glitch.com/bdb56104-9021-4ba5-aefa-819c791892d4%2FPhone_Screenshot_1%5B1%5D.jpg?v=1595443948538"
               style="width:50%">
         </center>
      </div>
      <div class="column">
         <button style="background-color: var(--BlueAccentColor); color: black;" class="button"
            onclick="plusDivs(1)">&#10095;</button>
      </div>
   </div>
</div>
<script src="/scripts/slideshow.js"></script>
<!-- Footer -->
<footer>
   <div class="row">
      <div class="column">
         <p>
            <a class="button" href="/"><i class="fa fa-link"></i>&nbsp;liammurray.tk</a>
         </p>
      </div>
      <div class="column">
         <p>
            <a class="button" href="https://www.github.com/liammurray123"><i
                  class="fa fa-github"></i>&nbsp;liammurray123</a>
         </p>
      </div>
      <div class="column">
         <p>
            <a href="#home" class="button">&nbsp;GO TO TOP</a>
         </p>
      </div>
   </div>
</footer>

</html>